/***************** BASE **********************/

/******** FONTES ************/

/******** INITIALISATION DES MARGES *********/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/******** BALISES PRINCIPALES ***********/


body{

   
    font-size: 70%;

}


header {
    margin-top: -21px;
    margin-bottom: 80px;
    overflow: hidden;
}




/***************** LAYOUT **********************/

.conteneur {
    width : 1100px;
    margin: 20px auto 0px 0px;
    min-height: 500px;
    
    color: rgb(172,172,172);
    overflow: hidden;
   
}




/*************** TABLEAU ************/


.formulaire {
    position:relative;
    top : -215px;
    float:right;
}

table {
    color : rgb(172,172,172);
    font-family: Arial, Sans-serif;
    width:300px;
    min-height: 200px;
    margin: 0px 0 0 0px;


}

.titreTableau {
    font-family: Arial, Sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(154,144,117);
}


/* Voici une liste */
caption {
    margin:20px 0 20px 0;
    font-family: Times, Serif;
    text-align:left;
    font-size: 21px;
}
/* La propriété - Utilisation */
thead th {
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    border-bottom: 3px solid black;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    vertical-align: center;
    padding: 3px;
}


td {
    border: 1px solid #d3d3d3;
    font-size : 13px;
    height: 32px;
    padding : 8px;
}

td:first-child {
    width: 250px;
}

td:nth-child(2) {
    width: 50px;
}

td:nth-child(3) {
    width: 50px;
}

/*************** FORMULAIRE ************/

form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;

}
form p + p {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    width: 340px;
    border: 1px solid #999;
}

select {
    width: 340px;
    display:inline;
}

select option{
    clear:both;
}

input:focus, textarea:focus {
    border-color: #ff0000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

#sexe {
    display:inline-block;
}

/***************** MODULES **********************/


/************ HEADER BAS ***********/

h2 {
    font-size: 2rem;
    color: rgb(154,144,117);
}

.couleurtitre {
    color: rgb(211,62,4);
}

.textevert {
   
    color: rgb(186,186,50);
}

.readmore {
    padding-left: 2px;
    color: black;
}



/************ BAS NEWS****************/

.h2souligne {
    border-bottom: 1px dotted rgb(172,172,172);
}

.date {
    
    color: rgb(186,186,50);
    margin-top: 5px;
    padding-left: 9px;
    
}

.date a {
    
    color: rgb(186,186,50);
    text-decoration: none;
}

.news ul li:before{
    content:"";
    width:8px;
    height:8px;
    background-color: rgb(172,172,172);
    display:inline-block;
    margin-left: 6px;
    margin-top: 18px;
}

li p {
    display:inline;
    
}

li :nth-child(2) {
    
    margin-left: 25px;
}

/* Pour remonter les news (bord vertical droit décalé) */

.news h2, .news ul {
    position : relative;
    top : -20px;
}


/************ BAS TODAY *****************/

.gauche {
    float:left;
}

.droite {
    float:right;
}

.gauche,.droite {
    margin: 19px 0 0 0px;
    width:235px;
}

article img{
    float:left;
    margin: 0px 20px 20px 0px;
}

article div {
    float:right;
}

.texteNoir {
    color:black;
}

.suitearticle {
    margin-top: 43px;
}

h3 {
    margin-top: 10px;
}

